<div class='container'>
	<h1> Filters </h1>

	<h2> lowercase </h2>
	<div>{{ view.textSample | lowercase }}</div>

	<h2> uppercase </h2>
	<div>{{ view.textSample | uppercase }}</div>

	<h2> date </h2>
	<div>{{ view.numberSample | date:'yyyy-MM-dd HH:mm:ss Z'}}</div>
	<div>{{ view.numberSample | date:'medium'}}</div>
	<div>{{ view.numberSample | date:'yyyy'}}</div>

	<h2> number </h2>
	<div>{{ view.numberSample | number }}</div>

	<h1> Angular directives </h1>

	<h2> ng repeat </h2>
    <div class="row">
    	<div class="col-sm-1"> $index </div>
    	<div class="col-sm-4"> name </div>
    	<div class="col-sm-1"> $first </div>
    	<div class="col-sm-1"> $even </div>
    	<div class="col-sm-1"> $odd </div>
    	<div class="col-sm-1"> $middle</div>
    	<div class="col-sm-1"> $last </div>
    </div>
    <div class="row" ng-repeat="movie in view.movies | orderBy:'title':view.sort">
    	<div class="col-sm-4"> {{ movie.title }} </div>
    	<div class="col-sm-1"> {{ $index }} </div>
    	<div class="col-sm-1"> {{ $first }} </div>
    	<div class="col-sm-1"> {{ $even }} </div>
    	<div class="col-sm-1"> {{ $odd }} </div>
    	<div class="col-sm-1"> {{ $middle }} </div>
    	<div class="col-sm-1"> {{ $last }} </div>
    </div>
    <button type="button"
	    class="btn btn-primary"
	    ng-click="sort()">
	    <div>Sort</div>
	</button>

    <h2> ng show / ng if </h2>
    <button type="button"
	    class="btn btn-primary"
	    ng-click="hide()">
	    <div ng-if="view.showText">Hide</div>
	    <div ng-if="!view.showText">Show</div>
	</button>

	<div ng-show="view.showText"> Some text to show or hide</div>

	<h2> ng init </h2>
	<button class="btn btn-secondary" ng-click="count = count + 1" ng-init="count = 0">
		Init sample
	</button>
	<div>{{count}}</div>

	<h2> ng bind </h2>

	<div>{{view.sort}}</div>
	<div ng-bind="view.sort"></div>

	<input ng-model="view.dato.name"/>
	<br/>

</div>